body {
  padding: 20px;
  font-family: Helvetica;
  background-color: black;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 2fr));
  justify-content: center;
  grid-gap: 5px;
  grid-auto-rows: minmax(30px, 100px);
}

.box {
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 14px;
  border-radius: 5px;
  border: 2px solid white;
}

/* for IPAD users and up (768px and up) */
@media (min-width: 768px) {
  .box {
    border-style: dotted;
    background-color: rgb(20, 206, 220);
  }
}

.a {
  background-color: red;
  grid-row: 1;
  grid-column: 1;
}

.z {
  background-color: blue;
  grid-row: 4;
  grid-column: 5;
}
